.services {
  background: white;
  padding: 0px 24px;
}

.service_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: antiquewhite;
  padding: 3rem;
  min-height: 320px;
}

.service_item_header {
  font-size: 24px;
}

.line {
  color: white;
  width: 8rem;
  margin: 0;
  border: 2px solid white;
}

.service_btn {
  margin-top: 1.5rem;
  margin: 24px 0px 0px;
  padding: 12px 16px;
}